# Virtual environments
.venv
.venv/
venv
venv/
CGM
CGM/
env
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables & secrets
.env
!.env.example

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
